{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div style="background-image:url('https://image.freepik.com/free-photo/black-wall-texture-background-banner-blank-dark-gradient-studio-room-chalkboard_28629-594.jpg');padding-bottom:100%">

  <p style="text-align:center;font-size:2.5em"> Hi {{ user.username }}!</p>

  <p style="text-align:center">
    <a href="{% url 'news' %}">Home</a>
    <a href="{% url 'logout' %}">logout</a>
  </p>
</div>
{% else %}
<div>
  <img src="https://image.freepik.com/free-photo/black-wall-texture-background-banner-blank-dark-gradient-studio-room-chalkboard_28629-594.jpg" alt="Avatar" class="image" style="width:100%;height:100%">
    <a href="{% url 'login' %}">
      <div class="middle">

      <div class="button"><font color="white"> Login</font>
      </div>
      </div>
    </a>
    <a href="{% url 'signup' %}">
      <div class="middle2" >

      <div class="button"><font color="white"> signup</font>
      </div>
      </div>
    </a>

</div>

{% endif %}


{% endblock %}