
<!DOCTYPE html>
<html>
<head>

	<title>NewsFM</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel= stylesheet href="https //maxcdn.bootstrapcdn.com/bootstrap/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #D3D3D3;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.box{

   background-size: 300px 300px;
   width:300px;height:300px;
   float:left;
   margin-right:10px;margin-bottom:10px;
   border-color:"black";

}

</style>
</head>
<body style="background-color:black;height:100%">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



     <div class="topnav">


         <a href="{% url 'news' %}"><font color="white">Home</font></a>
         <a href="{% url 'category' 'Business' %}"><font color="white">Business</font></a>
         <a href="{% url 'category' 'Sports' %}"><font color="white">Sports</font></a>
         <a href="{% url 'category' 'Technology' %}"><font color="white">Technology</font></a>
         <a href="{% url 'weather' %}"><font color="white">Weather</font></a>
         <a href="{% url 'editorial' %}"><font color="white">Editorial</font></a>
         <a href="{% url 'articles' %}"><font color="white">Articles</font></a>
         <a href="{% url 'upload' %}"><font color="white">Add Music</font></a>
         <a href="{% url 'display' %}"><font color="white">Playlists</font></a>
         <a href="{% url 'about' %}"><font color="white">About</font></a>





    </div>


    {% if user.is_authenticated %}
         <section class="hero is-dark">
              <div class="hero-body">
                <p class="welcome" style="float:right">
                    <font color="white">Hi {{ user.username }}!</font>

                    <br>
                    <a href="{% url 'logout' %}"><font color="white">Logout</font></a>
                </p>
                <h1 class="title" style="text-align:center;">Whats the current news?</h1>
                <h1 class="subtitle" style="text-align:center;">Top Headlines -
                    <script style="text-align:left">
                          var currentDate = new Date(),
                          day = currentDate.getDate(),
                          month = currentDate.getMonth() + 1,
                          year = currentDate.getFullYear();
                          document.write(day + "/" + month + "/" + year)
                    </script>
                </h1>


              </div>
         </section>
        <br>




        <div class="row" style="margin:0.5%">
            {% for city_news in news_data %}

                    <div class="col-sm-3" style="margin: 2%;background-image:linear-gradient(rgba(500,500,500,.5), rgba(500,500,500,.5)),url('{{city_news.image}}');background-size: 100% 100%;border-radius: 2% 2%;">
                        <div class="content" style="justify-content:center;font-family: 'Josefin Sans', sans-serif;padding:10%" >
                                            <p>
                                                <span class="subtitle"><font color="black">{{city_news.title}}</font> </span>
                                                <br>
                                            </p>
                        </div>
                         <div style="position: absolute; bottom: 0pt; right: 0pt">
                            <a href="{{city_news.url}}">
                                 <p>Learn more..</p>
                             </a>
                         </div>
                    </div>

            {% endfor %}
        </div>


    <div class="subtitle" style="background-color:black">
	<footer style="padding-left: 40%">&copy;Vineeth J Palatty&nbsp;&nbsp; 2019
	</footer>
    </div>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}



</body>
</html>


